<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="free mentorship">
    <meta name="keywords" content="free mentors">
    <meta name="author" content="Sagini Emmanuel">
    <title> FreeMentors | Welcome</title>
    <link rel="stylesheet" href="./styles/landingPage.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Free</span> Mentors </h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="landingPage.html">Home</a></li>            
            <li><a href="mentors.html">Check out a Mentor</a> </li>          
            <li><a href="Sign In.html">Sign In</a></li>
            <li><a href="Sign Up.html">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Mentorship</h1>
        <p>Get professional advice for free</p>
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>

    <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="./images/seat.jpg">
          <h3>Confidential</h3>
          <p>Secret to keep for success</p>
        </div>
        <div class="box">
          <img src="./images/seat.jpg">
          <h3>Reliable</h3>
          <p>Professional advice for life</p>
        </div>
        <div class="box">
          <img src="./images/seat.jpg">
          <h3>Authentic</h3>
          <p> Truth untold from time immemorial</p>
        </div>
      </div>
    </section>

    <footer>
      <p>Sagini Web Design, Copyright &copy;2019</p>
    </footer>
  </body>
</html>
